body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  display: inline-flex;
  width: 200px;
  height: 40px;
  font-size: 12px;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-weight: 100;
  position: relative;
  white-space: nowrap;
  line-height: 0;
  background: rgb(0, 0, 0);
  padding: 0px 25px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  overflow: hidden;
  transition: border 0.2s ease 0s, background 0.2s ease 0s,
    color 0.2s ease-out 0s;
  border-radius: 5px;
  text-decoration: none;
}
button:hover {
  color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  background: rgb(255, 255, 255);
}
